<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Perfil do Usuário</title>
</head>
<body>
  <header>
     <div class="container-header">
          <h1>Caragua. na crista da onda</h1>
     </div>
  </header>
  <main>
    <div class="container-main">
      <h2>Bem-vindo, <%= usuario.nome %></h2>
      <p>Apelido: <%= usuario.apelido %></p>
      <p>Data de Nascimento: <%= usuario.dataNascimento %></p>
      <p>Email: <%= usuario.email %></p>
      <p>Sexo: <%= usuario.sexo %></p>
      <p>Administrador: <%= usuario.administrador ? 'Sim' : 'Não' %></p>
      <p>Estado: <%= usuario.estado %></p>
      <form method="POST" action="/usuarios/perfil/<%= usuario.id %>?_method=DELETE">
        <button type="submit">Deletar Perfil</button>
      </form>
    </div>
  </main>
  <footer>
    <div class="container-footer">
      <h3> <p>&copy;2025 Caragua. na crista da onda</p></h3>
    </div>
  </footer>
</body>
</html>